:root {
    --primaryH: 210;
    --primaryS: 50%;
    --primaryL: 40%;
    --primary-bg: #fff;
    --secondaryH: 0;
    --secondaryS: 0%;
    --secondaryL: 13%;
    --secondary-bg: #fff;
    --font-family: Roboto, Helvetica, Arial, sans-serif;
    --font-size-root: 100%;
    --font-weight-bolder: 700;
    --font-weight-bold: 400;
    --font-weight-normal: 200;
    --font-weight-thin: 100;
    --line-height: 1.75rem;
    --heading-margin: .5rem 0 .5rem;
    --border-radius: 2px;
    --error: #d00;
    --warning: #ec0;
    --info: #369;
    --correct: #080;
}
#_display_container_ {
    width: 100%;
    height: 100%;
}